@inject IGitHubClient github

<h3>Project</h3>

@foreach(var repo in repos)
{
    <div class="card">
        <div class="card-header m-3">
            <h5>@repo.Name</h5>
        </div>
        <div class="card-body">
            <p>@repo.Description</p>
            <a href="@repo.HtmlUrl" target="_blank">View on GitHub</a>
        </div>
    </div>
}

@code {
    public required IReadOnlyList<Repository> repos;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        repos = await github.Repository.GetAllForUser("JavierStark");
    }
    

}